.blob-shape{
    width: 320px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 50% 60% 40% 60% / 60% 40% 60% 40%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0);
}

.blob-shape img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.contact-wrapper{
    min-height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1587560699334-bea93391dcef?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Y29udGFjdHxlbnwwfHwwfHx8MA%3D%3D");
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 120px 20px;
}

.overlay{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.58);    
    z-index: 1;
}

.content{
    position: relative;
    z-index: 5;
}

.form-box{
    min-width: 700px;
}
